gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Google Play API (Fastlane)
play-store-service-account.json
**/play-store-service-account.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
